///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

// Color system
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #2199e8 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #ca0000 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$color-1:    $blue !default;
$color-2: #6786CE !default;
$color-3: #6A67CE !default;
$color-4:    $pink !default;
$color-5:     $red !default;
$color-6:  $orange !default;
$color-7:  $yellow !default;
$color-8:   $green !default;
$color-9:    $teal !default;
$color-10:    $cyan !default;

$primary:       $blue !default;
$secondary:     #435a66 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$bg-color: #f2f0ea;//#F2F1F2;
$dark-bg-color: darken($bg-color, 5%);
$darker-bg-color: darken($bg-color, 10%);

$gray: #999;
$mute-color: $gray;

$link-color: $primary;

$text-color: #333;
$second-color: #2b363c;

$accent-color: $red;
$main-accent-color: $red;
$news-accent-color: $red;
$weather-accent-color: $red;
$horo-accent-color: #c84697;

// Standardise some UI treatments.

$global-radius: 3px;
$global-transition: all 300ms ease-in-out;

$global-font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$global-h-font-family: $global-font-family !default;

// Be aware that enabling offsets produces a large chunk of classes which might
// bloat your CSS, depending of the amount of breakpoints you defined.
// Only set this to `true` if you are absolutely sure about what you are doing.
$inuit-offsets: false;
// $inuit-wrapper-width: 1200px;

$global-spacing-unit: $inuit-global-spacing-unit;
$global-spacing-unit-tiny: $inuit-global-spacing-unit-tiny;
$global-spacing-unit-small: $inuit-global-spacing-unit-small;

// $mq-show-breakpoints: (mobile, mobileLandscape, tablet, desktop, wide);

// Which fractions would you like in your grid system(s)? By default, inuitcss
// provides you fractions of one whole, halves, thirds, quarters and fifths,
// e.g.:
//
//   .u-1/2
//   .u-2/5
//   .u-3/4
//   .u-2/3

$inuit-fractions: 1 2 3 4 5 6 !default;
$global-font-size: $inuit-global-font-size;
