
.DS_Store
.env*
node_modules
*.log
*.tgz
lib
types
package-lock.json
public/static/img

!public/static/js/
public/static/js/*
!public/static/js/rev-manifest.json

!public/static/css/
public/static/css/*
!public/static/css/rev-manifest.json
