@include mq($until: tablet) {
    .c-event {
        margin-left: -$global-spacing-unit-small;
        margin-right: -$global-spacing-unit-small;
    }
    .c-event__body {
        padding-left: $global-spacing-unit-small;
    }
}

.c-event {
    margin-bottom: $global-spacing-unit;
}

.c-event__body {
    background-color: white;
    padding-top: $global-spacing-unit-small;
    padding-right: $global-spacing-unit-small;
    padding-bottom: $global-spacing-unit;
}

.c-event__title {
    font-weight: 500;
    margin-bottom: $global-spacing-unit-small;
    a {
        color: $text-color;
    }
}

.c-event__stats {
    margin-bottom: $global-spacing-unit-small;
    font-size: 85%;
    color: $mute-color; // text-align: right;
    time {
        border-bottom: 1px dotted $mute-color;
    }
}

.c-event__tags {
    margin: 0px;
    padding: $global-spacing-unit-small 0px;
    font-size: 90%;
    list-style: none;
    li {
        display: inline-block;
    }
}

.c-event_quotes {
    padding-top: $global-spacing-unit-small;
}

.c-event__items {
    margin: $global-spacing-unit-small 0px;
    list-style: none;
    color: lighten($text-color, 20%);
    font-size: 85%;
    li {
        @include inuit-clearfix();
        margin-bottom: $global-spacing-unit-tiny;
    }
    span {
        float: left;
        color: $success;
        display: block;
        width: 13%;
        white-space: nowrap;
        overflow: hidden;
        margin-right: $global-spacing-unit-small;
        position: relative;
        // border-bottom: 1px dashed $mute-color;
        // text-decoration: underline;
        // text-decoration-style: dotted;
        // text-decoration-color: $mute-color;
        &:after {
            content: ':';
            color: $mute-color;
        }
    }
    a {
        overflow: hidden;
        display: block;
    }
}

.c-text-link {
    font-weight: 500;
}

.c-out {
    padding-bottom: $global-spacing-unit-small;
    font-size: 80%;
    a {
        color: $accent-color;
        font-weight: 500;
    }
}