$report-border-color: $dark-bg-color;//darken($bg-color, 5%);
$report-light-color: $bg-color;//lighten($link-color, 50%);
$report-dark-color: $dark-bg-color;//lighten($link-color, 30%);

.c-report {
    margin-bottom: 20px;
    @include inuit-clearfix();
}

.c-report__date {
    display: inline-block;
    background-color: $link-color;
    color: #fff;
    padding: 3px 12px;
    font-size: 110%;
    border-top-left-radius: $global-radius;
    border-top-right-radius: $global-radius;
    margin-left: 6px;
}

.c-report__dates {
    // margin-top: 8px;
    font-size: 80%;
    color: #999;
    text-decoration: none !important;
    &:hover {
        text-decoration: none !important;
    }
}

.c-report__body {
    overflow: hidden;
    // border-right: 2px solid $report-border-color;
    // border-bottom: 2px solid $report-border-color;
}

.c-report__text {
    background-color: #fff;
    padding: 10px;
    overflow: hidden;
    border: 1px solid $report-border-color;
    p {
        margin-bottom: 12px;
    }
    p:last-child {
        margin-bottom: 0px;
    }
}

.c-report__footer {
    background: $dark-bg-color;
    background: -moz-linear-gradient(top, $report-dark-color 100%, $report-light-color 100%);
    background: -webkit-linear-gradient(top, $report-dark-color 100%,$report-light-color 100%);
    background: linear-gradient(to bottom, $report-dark-color 0%,$report-light-color 100%);
    border-bottom-left-radius: $global-radius;
    border-bottom-right-radius: $global-radius;
    border: 1px solid $report-dark-color;
    padding: 2px 10px;
    font-size: 90%;
}

.c-report__numbers {
    label {
        font-weight: 500;
    }
    span {
        display: inline-block;
        margin: 0px 5px;
        background: #fff;
        border-radius: $global-radius;
        text-align: center;
        font-weight: 500;
        padding: 0px 3px;
        line-height: 1.3;
        color: $accent-color;
    }
}

.c-report__head {
    background: $report-dark-color;
    background: -moz-linear-gradient(top, $report-light-color 0%, $report-dark-color 100%);
    background: -webkit-linear-gradient(top, $report-light-color 0%,$report-dark-color 100%);
    background: linear-gradient(to bottom, $report-light-color 0%,$report-dark-color 100%);
    padding: 6px;
    text-align: center;
    border-top-left-radius: $global-radius;
    border-top-right-radius: $global-radius;
    border: 1px solid $report-dark-color;
}

.c-report__sign {
    text-align: center;
    color: $accent-color;
    padding: 4px 10px;
    display: inline-block;
    width: 140px;
    position: relative;
    font-size: 90%;
    h3,
    h4 {
        margin: 0;
        font-weight: normal;
    }
    color: $text-color;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        h4,
        h3 {
            color: $accent-color;
        }
    }
}

.c-report {
    .c-zs-icon {
        height: 50px;
        width: 50px;
        margin: 0px auto;
        display: block;
    }
}

.c-report__stats {
    padding: $global-spacing-unit-small 0px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}

.c-stat-it {
    flex-grow: 1;
    display: inline-block;
    width: 30%;
    max-width: 80px;
    height: 90%;
    margin: 0px 6px;
    font-size: 90%;
    font-weight: 600;
    text-align: center;
    svg {
        height: 50px;
        width: 100%;
        text {
            text-anchor: middle;
            font-weight: bold;
            vertical-align: middle;
            font-size: 140%;
        }
    }
    circle {
        stroke-width: 10;
        stroke-linecap: round; // border-radius: 50%;
    }
    &.v-health .c-stat-it__line {
        stroke: #96c557;
    }
    &.v-love .c-stat-it__line {
        stroke: #c84697;
    }
    &.v-success .c-stat-it__line {
        stroke: #2199e8;
    }
    &.v-health .c-stat-it__back {
        stroke: lighten(#96c557, 25%);
    }
    &.v-love .c-stat-it__back {
        stroke: lighten(#c84697, 30%);
    }
    &.v-success .c-stat-it__back {
        stroke: lighten(#2199e8, 30%);
    }
}
.c-stat-it__back {
    fill: #fff;
}
.c-stat-it__line {
    fill: none;
}

@media (min-width: 568px) {
    .c-report__sign {
        float: left;
    }
}
@media (max-width: 568px) {
    .c-report__footer {
        text-align: center;
        label {
            display: block;
            padding-bottom: 4px;
        }
    }
}