
.c-page-title {
    margin-bottom: 20px;
    h1 {
        font-weight: normal;
        margin-bottom: $global-spacing-unit-small;
        font-size: 1.8rem;
    }
    h2 {
        font-weight: normal;
        margin-bottom: $global-spacing-unit-small;
        font-size: 0.9rem;
        color: $gray;
    }
}
