$wind-icon-size: 24px;
$wind-icon-arrow-size: $wind-icon-size / 2;
$wind-icon-border-size: $wind-icon-size / 10;

.i-wind-dir {
    position: relative;
    display: inline-block;
    width: $wind-icon-size;
    height: $wind-icon-size;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAOVBMVEX////MzMzPz8/39/f8/Pz5+fnz8/Pu7u7m5ubf39/b29vX19fR0dHx8fHo6Ojj4+Pg4ODU1NTr6+sgWOkdAAAAa0lEQVQoz7XPSQ7AIAxDUTtQKC0d73/YSlXEoLDlbQ36CqbyDiMhCe2ynA9J8ejFjb8bLXcLVWh6787iqY8vYWMtg7Cz1B+Jja276cxlONA7NJ9h7Jo2oqatrGljJRkx4IWCocQLQ0EcJvgAlysCDq1/OYUAAAAASUVORK5CYII=");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

$wind-icon-arrow-deg: 45deg;

.i-wind-dir--E {
    transform: rotate(0 + $wind-icon-arrow-deg);
}

.i-wind-dir--N {
    transform: rotate(-90deg + $wind-icon-arrow-deg);
}
.i-wind-dir--NE {
    transform: rotate(-45deg + $wind-icon-arrow-deg);
}
.i-wind-dir--NW {
    transform: rotate(-135deg + $wind-icon-arrow-deg);
}
.i-wind-dir--S {
    transform: rotate(90deg + $wind-icon-arrow-deg);
}
.i-wind-dir--SE {
    transform: rotate(45deg + $wind-icon-arrow-deg);
}
.i-wind-dir--SW {
    transform: rotate(135deg + $wind-icon-arrow-deg);
}
.i-wind-dir--W {
    transform: rotate(-180deg + $wind-icon-arrow-deg);
}
