
.c-mobm__btn {
    width: 32px;
    height: 26px;
    display: inline-block;
    position: relative;
}

.c-mobm__btn-i {
    background-color: $secondary;
    position: absolute;
    height: 4px;
    left: 0px;
    right: 0px;
    top: 0px; // margin-top: -10%;
    &::before {
        content: '';
        position: relative;
        top: 10px;
        background-color: $secondary;
        height: 4px;
        display: block;
    }
    &::after {
        content: '';
        position: relative;
        top: 16px;
        background-color: $secondary;
        height: 4px;
        display: block;
    }
}

.c-mobm__btn-btn {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
    opacity: 0;
    font-size: 8px;
    cursor: pointer;
}

.c-mobm__overlay {
    position: fixed;
    z-index: 1000;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: opacity 0.3s ease 0s;
}

.c-mobm__menu {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1100;
    width: 250px;
    max-width: 100%;
    height: 100%;
    transition: all 0.5s ease 0s;
    overflow-y: auto;
}

.c-mobm__menu-content {
    padding: $global-spacing-unit;
    background-color: $primary;
    padding-top: $global-spacing-unit * 2;
    a {
        color: white;
        font-weight: 500;
    }
}

.c-mobm__close {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 8px;
    top: 8px;
}

.c-mobm__close-l {
    position: absolute;
    width: 3px;
    height: 14px;
    background-color: $text-color;
    right: 11px;
    top: 5px;
}

.c-mobm__close-l:first-child {
    transform: rotate(45deg);
}

.c-mobm__close-l:nth-child(2) {
    transform: rotate(-45deg);
}

.c-mobm__close-btn {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
    text-indent: -9999px;
    background: transparent;
    outline: none;
    cursor: pointer;
}