.ad-maiar_full {
  height: 342px;
  margin: 10px 0px;
}
a.ad-maiar {
  display: block;
  height: 100%;
  background-image: url(https://assets.ournetcdn.net/ournet/img/ads/maiar-app-banner-op.png);
  background-position: top center;
  background-repeat: no-repeat;
}
