.c-menu {
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    li {
        display: inline-block;
    }
    a {
        display: block;
        padding: 3px $global-spacing-unit / 3;
        // border-radius: $global-radius;
        text-decoration: none;
        color: $text-color;
        margin-right: 3px;
        &:last-child{
            margin-right: 0px;
        }
        &:hover {
            color: $accent-color;
            &.v--news {
                color: $news-accent-color;
            }
            &.v--weather {
                color: $weather-accent-color;
            }
            &.v--horo {
                color: $horo-accent-color;
            }
        }
    }
}

a.c-menu--selected {
    &.v--news {
        color: $news-accent-color;
    }
    &.v--weather {
        color: $weather-accent-color;
    }
    &.v--horo {
        color: $horo-accent-color;
    }
}
