
$header-height: 60px !default;

.c-header {
    padding: 16px 0px;
    margin-bottom: 16px;

    .c-logo {
        margin-top: $header-height / 4 - 3;
    }
    .c-cap {
        margin-top: $header-height / 4 - 4;
    }
    .c-menu {
        margin-top: $header-height / 4 - 4;
    }
}
