
$header-height: 60px !default;

.c-header {
    padding: 20px 0px;
    >div.o-layout__item{
        height: 40px;
    }
    // .c-cap {
        // margin-top: 4px;
    // }
    .c-menu {
        margin-top: 4px;
    }
    .c-search {
        margin-top: 3px;
    }
}
