$logo-height: 36px;
.c-logo {
    display: block;
    overflow: hidden;
    white-space: nowrap;
}

.c-logo__a {
    display: inline-block;
    width: 110px;
    line-height: 34px;
    font-size: 30px;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

.c-logo-image {
    font-weight: 600;
    text-decoration: none;
    font-family: Arial, sans-serif;
    position: relative;

    &.v--md, &.v--ru {
        &:after{
            content: '';
            display: inline-block;
            height: 10px;
            width: 10px;
            background: $red;
            border-radius: 50%;
            margin-left: 4px;
        }
    }
}

.c-logo-image_t2 {
    color: $red;
}
.c-logo-image_t1 {
    color: lighten($text-color, 12%);
}
.c-logo-image_n {
    color: $red;
    font-size: 110%;
}

.c-logo-image_i {
    height: 32px;
    width: 32px;
    display: block;
    float: left;
    position: relative;
    bottom: -2px;
    svg {
        height: 100%;
        width: 100%;
    }
}